<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.example.org/mm_M4DS"
			class = "xtext.mm_M4DS.Mm_M4DSPackage"
			genModel = "model/generated/MM_M4DS.genmodel" />
	</extension>
</plugin>
